In [1]:
import pandas as pd

In [ ]:
parquet_file = 'yellow_tripdata_2018-01.parquet'
pd.read_parquet(parquet_file).to_csv('yellow_tripdata_2018-01.csv')

In [ ]:
df = pd.read_csv('yellow_tripdata_2018-01.csv', nrows=100)

In [ ]:
df.head()

In [ ]:
# Convert time columns to datetime format
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [ ]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [ ]:
engine.connect()

In [ ]:
# Create DDL statement
print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

In [ ]:
df_iter = pd.read_csv('yellow_tripdata_2018-01.csv', iterator=True, chunksize=100000)

In [ ]:
df = next(df_iter)

In [ ]:
# Convert time columns to datetime format
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [ ]:
from time import time

In [ ]:
while True:
    t_start = time()
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")

    t_end = time()

    print("inserted a chunk..., took %.3f seconds" % (t_end - t_start))

In [7]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [3]:
df_zones = pd.read_csv("taxi+_zone_lookup.csv")

In [4]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [6]:
len(df_zones)

265

In [8]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265